body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F4F4F4;
  padding: 30px;
  color: #000000;
  background-image: url('img/fundo-azul-gradiente-de-luxo-abstrato-liso-azul-escuro-com-vinheta-preta-studio-banner.jpg');
  background-position: center;
}

.app{
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}

h1{
  text-align: center;
}

h2{
  margin-bottom: 10px;
}

p{
  margin: 10px 0;
}

input{
  box-sizing: border-box; /*nao passa limite do pai*/
}